.hotel-option-preview {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #717171;
    font-size: 0.75rem;
    text-transform: capitalize;
    font-weight: 550;
    width: auto;
    gap: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.3s, ;
    height: 100%;

    &:hover {
        color: #222222;
    }

    img {
        height: 24px;
        width: 24px;

    }

}