<a [routerLink]="['/hotel',hotel._id]" class="hotel-preview clean-link">
    <div class="img-container">
        <img src={{hotel.images[0]}}>
        <div class="fav-container">
            <i class="material-icons">favorite_outline</i>
        </div>
    </div>
    <div class="info">
        <div class="hotel-location-rank">
            <div class="location">
                {{hotelInfo.header}}
            </div>

            <div class="rank">
                {{hotel.rank}} <span><i class="material-icons">star</i></span>
            </div>
        </div>
        <div class="hotel-name-sale">
            <div class="name">
                {{hotelInfo.mainFirst}}
            </div>
            <div *ngIf="!isInSearch" class="sale">
                {{hotelInfo.mainSecond.checkIntDate| date: 'MMM d'}} - {{hotelInfo.mainSecond.checkOutDate| date: 'd'}}
            </div>
        </div>
        <div class="hotel-price">
            {{'$'+hotelInfo.price}}<span class="night">night</span>
        </div>
        <div>
        </div>
    </div>
</a>