.search-hotel {
    .minimize-search {
        font-size: 0.875rem;
        display: flex;
        height: 48px;
        border-radius: 24px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow 0.2s;
        box-shadow: 4px 5px 20px 0px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);

        >* {
            padding: 0 16px;
            cursor: pointer;
        }

        >*:not(.add-guests, :last-child .start-your-search) {
            border-inline-end: 1px solid rgb(221, 211, 211);
        }

        &:hover {
            box-shadow: -10px 14px 20px 0px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        }

        .add-guests {
            font-weight: 400;
            color: #717171;
        }

        .search {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: #ff385c;
            display: flex;
            align-items: center;
            justify-content: center;

            >* {
                color: #FFF;
                font-size: 1.125rem;
            }
        }
        .start-your-search{
            padding: 0 130px 0 10px;
        }
    }
}