<section class="search-hotel">
    <div (click)="expandSearch()" *ngIf="!isExpanded" class="minimize-search">
        <div *ngIf="!isInHotelApp" class="start-your-search">
            Start your search
        </div>
        <div *ngIf="isInHotelApp" class="anywhere">
            Anywhere
        </div>
        <div *ngIf="isInHotelApp" class="anyweek">
            Any week
        </div>
        <div *ngIf="isInHotelApp" class="add-guests">
            Add guests
        </div>
        <div class="search">
            <i class="material-icons">search</i>
        </div>
    </div>
</section>