<section class="app-header" [ngClass]="{'fixed': isInHotelApp === true}">
    <a class="logo clean-link" routerLink="">
        AIRDND
    </a>
    <div class="search">
        <search-hotel [isInHotelApp]="isInHotelApp"></search-hotel>
    </div>
    <div class="config">
        <div>Become a Host</div>
        <div>
            <i class="material-icons">language</i>
        </div>
        <div class="user-config-container">
            <user-config [user]="user"></user-config>
        </div>
    </div>

</section>