.hotel-details-header {
    margin-top: 40px;
    margin-bottom: 20px;

    .hotel-name {
        font-size: 1.625rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .hotel-general-info-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;

        >* {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        .hotel-general-info {
            >* {
                display: flex;
                align-items: center;
                font-weight: 500;
            }

            .rank {
                gap: 5px;

                .material-icons {
                    font-size: 1.1rem;
                    display: flex;
                    align-items: center;
                }

                .reviews {
                    text-decoration: underline;
                }
            }

            .super-host {
                font-weight: 400;
                text-transform: capitalize;
            }

            .location {
                text-transform: capitalize;
                text-decoration: underline;
            }
        }

        .actions {
            >* {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 500;

                .material-icons {
                    color: #717171;
                    font-size: 1.1rem;
                }

                span {
                    text-decoration: underline;
                }
            }
        }
    }


}